#header{
	border-radius: 25px;
	border: 2px solid #000000;
	background: #336633;
	margin: 10px;
	color: #FFFFFF;
}


#navigation{
	float: left;
	border: 2px solid #00FF00;
	height: auto;
	width: 15%;
	padding: 2%;
	margin: 1%;
}

#body{
	float: left;
	border: 2px solid #FFCC66;
	height: auto;
	width: 50%;
	padding: 2%;
	margin: 1%;
}

#sidePanel{
	float: right;
	border: 2px solid #6666FF;
	height: auto;
	width: 15%;
	padding: 2%;
	margin: 1%;
}

#footer{
	border-radius: 15px;
	clear: both;
	border: 2px solid #000000;
	background: #CC0066;
	padding: 10px;
	margin: 10px;
	color: #FFFFFF;
}
