<html>
    <head>
        <% include head %>
        <meta http-equiv="refresh" content="3;url=http://localhost:3000" />
    </head>
    <body>
        <h1>Permission denied</h1>
        <h2>Redirect in 3 seconds</h2>
    </body>
</html>