<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div>
			<div class="container theme-showcase" role="main">
				<div class="page-header">
				  <h1>Edit <%= user.displayName %></h1>
				 	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
				</div>
				<div class="row">
					<form method="post" role="form" enctype="multipart/form-data">
					  <div class="col-md-4">
					  	<img src=<%=user.profilePicAdd %> alt="Image not found" onError="this.src='/image/default.png';" height="100" width="100">
					  	 <input type="file" name="displayImage">
					  </div>
					  <div class="col-md-8">
					  	<div class="form-group">
							  <label for="email">Email:</label>
							  <input type="email" class="form-control" id="email" name="email" disabled value=<%= user.email %>>
							</div>
						  <div class="form-group">
						    <label for="username">Display Name:</label>
						    <input type="text" class="form-control" id="username" name="username" value=<%= user.displayName %> required>
						  </div>
						  <div class="form-group">
						    <label for="description">Description:</label>
						    <textarea type="textarea" class="form-control" id="description" name="description" maxlength="500"><%= user.description %></textarea>
						  </div>
							<button id="update" type="submit" class="btn btn-primary">Update</button>
							<button id="cancel" type="reset" class="btn btn-primary">Cancel</button>
				 	 </div>
				 	</form>
				</div>
				<% if(locals.this) {%>
					<div class="row">
						<div class="page-header">
						  <h1>Change Password</h1>
						 	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
						</div>
						<% if(locals.error) {%>
							<% if(error == 'success') {%>
								<div class="alert alert-success" role="alert">
		        			<strong> <div>Success</div>	</strong>
		      			</div>
							<% } else {%>
								<div class="alert alert-warning" role="alert">
		        			<strong> <div><%= error %></div>	</strong>
		      			</div>
							<% } %>
						<% } %>
						<form method="post" role="form">
						  <div class="form-group">
						    <label for="opassword">Old Password:</label>
						    <input type="password" class="form-control" id="opassword" name="opassword" required>
						  </div>
						  <div class="form-group">
						    <label for="npassword">New Password:</label>
						    <input type="password" class="form-control" id="npassword" name="npassword" required>
						  </div>
						  <div class="form-group">
						    <label for="cpassword">Confirm Password:</label>
						    <input type="password" class="form-control" id="cpassword" name="cpassword" required>
						  </div>
							<button id="change" type="submit" class="btn btn-primary">Change Password</button>
						</form>
					</div>
				<% } %>
			</div>
		</div>
	</body>
</html> 

