<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/re">CSC309 A4</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if(locals.login) {%>
				<li><a class="navbar-brand" href=<%= "/profile/"+login._id %>> <%= login.displayName %> </a></li>
				<li><img src=<%= login.profilePicAdd %> alt="Image not found" onError="this.src='/image/default.png';" height="40" width="40"></li>
        <li>11</li>
				<li><a class="navbar-brand" href="/">Log Out</a></li>
			<% } %>
		</ul>
  </div>
</nav>