<!DOCTYPE html>
<html>
<head>
	<% include head %>
	<script src="javascripts/index.js" type="text/javascript"></script>
</head>
<body>
	<% include header %>
	<br>
	<div class="container theme-showcase" role="main">
		<button id="register" class="btn btn-primary">Register</button>
		<button id="login" class="btn btn-primary">Log in</button>
	</div>
</body>
</html>
