<!DOCTYPE html>
<html>
<head>
	<% include head %>
</head>
<body>
	<% include header %>
	<div class="container theme-showcase" role="main">
		<div> <%= error %> </div>
		<div class="page-header">
		  <h1>Log in</h1>
		 	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
		</div>
		<form method="post" role="form">
		  <div class="form-group">
		    <label for="email">Email:</label>
		    <input type="email" class="form-control" id="email" name="email" required>
		  </div>
		  <div class="form-group">
		    <label for="password">Password:</label>
		    <input type="password" class="form-control" id="password" name="password" required>
		  </div>
			<button id="go" type="submit" class="btn btn-primary">Log in</button>
		</form>
	</div>
</body>
</html>