<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div>
			<div class="container theme-showcase" role="main">
				<div class="page-header">
				  <h1>Welcome <%= login.displayName %> !</h1>
				 	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
				</div>
				<div class="row">
				  <div class="col-md-6">
				    <table class="table">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>Email</th>
				          <th>Display Name</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% for(var i=0; i<users.length; i++) {%>
				      		<tr>
				      			<td><%= i + 1 %></td>
				      			<td><%= users[i].email %></td>
								  	<td><a href=<%= "/profile/"+users[i]._id %>><%= users[i].displayName %></a></td>
				      		</tr>
								<% } %>
				      </tbody>
				    </table>
				  </div>
				</div>
				<div class="row">
					<% if(locals.requests) {%>
						<table class="table">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>Request</th>
				          <th>Count</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% for(var i=0; i<requests.length; i++) {%>
				      		<tr>
				      			<td><%= i + 1 %></td>
				      			<td><%= requests[i].request %></td>
				      			<td><%= requests[i].count %></td>
				      		</tr>
								<% } %>
				      </tbody>
				    </table>
					<% } %>
				</div>
				<div class="row">
					<% if(locals.logins) {%>
						<table class="table">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>IP</th>
				          <th>Device</th>
				          <th>Location</th>
				        </tr>
				      </thead>
				      <tbody>
				      	<% for(var i=0; i<logins.length; i++) {%>
				      		<tr>
				      			<td><%= i + 1 %></td>
				      			<td><%= logins[i].ip %></td>
				      			<td><%= logins[i].device %></td>
				      			<td><%= logins[i].location %></td>
				      		</tr>
								<% } %>
				      </tbody>
				    </table>
					<% } %>
				</div>
			</div>
		</div>
	</body>
</html> 

