<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div>
			<div class="container theme-showcase" role="main">
				<div class="page-header">
				  <h1><%= user.displayName %>
				    <% if(locals.this){ %>
				    	<a href=<%= "/edit/"+user._id %>><small>edit</small></a>
				    <% } %>
				   </h1>
				 	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
				</div>
				<div class="row">
				  <div class="col-md-4">
				  	<img src=<%=user.profilePicAdd %> alt="Image not found" onError="this.src='/image/default.png';" height="100" width="100"><br>
				  	<% if(locals.type == "AU"){ %>
				  		<ul class="nav nav-pills" role="tablist">
				    	<li role="presentation"><a href=<%= "/delete/"+user._id%>>Delete User</a>
				    	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></li>
				    	</ul>
				    <% } %>
				    <% if(locals.type == "SAU"){ %>
				    	<ul class="nav nav-pills" role="tablist">
				    	<li role="presentation"><a href=<%= "/delete/"+user._id%>>Delete User</a>
				    	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></li>
				    	<li role="presentation"><a href=<%= "/admin/"+user._id%>>
				    	<% if(user.type == "AU"){ %> Unassign Admin
				    	<% }else{ %> Assign Admin
				    	<% } %>
				    	</a>
				    	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></li>
				    	</ul>
				    <% } %>
				  </div>
				  <div class="col-md-8">
				  	<table class="table">
				      <tbody>
				        <tr>
				          <td>Email</td>
				          <td><%=user.email %></td>
				        </tr>
				        <tr>
				          <td>Display Name</td>
				          <td><%=user.displayName %></td>
				        </tr>
				        <tr>
				          <td>Descrption</td>
				          <td><%=user.description %></td>
				        </tr>
				      </tbody>
				    </table>
				  </div>
				</div>
			</div>
		</div>
	</body>
</html> 

