<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<% include header %>
		<div class="container theme-showcase" role="main">
			<div> <%= error %> </div>	
			<div class="page-header">
			  <h1>Register</h1>
			 	<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
			</div>
			<form method="post" role="form">
			  <div class="form-group">
			    <label for="email">Email:</label>
			    <input type="email" class="form-control" id="email" name="email" required>
			  </div>
			  <div class="form-group">
			    <label for="username">Display Name:</label>
			    <input type="username" class="form-control" id="username" name="username" required>
			  </div>
			  <div class="form-group">
			    <label for="password">Password:</label>
			    <input type="password" class="form-control" id="password" name="password" required>
			  </div>
			  <div class="form-group">
			    <label for="cpassword">Confirm Password:</label>
			    <input type="password" class="form-control" id="cpassword" name="cpassword" required>
			  </div>
				<button id="go" type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	</body>
</html>